.footer {
  margin-top: rem(120px);
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  background-color: #1e1e1e !important;
}

.inner {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.links {
  background-color: #ffffff1a;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 15px 38px;
  text-decoration: none;
  gap: 36px !important;
  border-radius: 39.5px;
}

.links a {
  color: #f1f5f9 !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.85px;
}
@media screen and (max-width: 1536px) {
  .footer{
    padding: 0 100px;
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    padding: 0 10px;
  }
}
@media screen and (max-width: 1024px) {
  .inner {
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .inner {
    align-items: center;
  }
  .footer{
    padding: 0 50px;
  }
}
@media screen and (max-width: 500px) {
  .links {
    height: 50px;
    padding: 15px 20px;
    gap: 25px !important;
  }
  .footer{
    padding: 0 20px;
  }

}
