.header {
  height: 60px; /* Assuming 1rem = 16px */
  padding: 0 100px;
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 400;
  font-size: 14px;
  line-height: 17.85px;

  @media (max-width: 48em) { /* Use actual breakpoint value instead of $mantine-breakpoint-sm */
    height: 42px;
    width: 100%;
  }

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.button{
  border: 1px solid #1E1E1E !important;
  border-bottom: 3px solid #1E1E1E !important;
  padding: 0 35px !important;
  height: 44px !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 17.85px !important;
}