.header {
  width: 100%;
  /* background-color: #fdf6ea; */
}

.dashboardHeader{
  width: 100%;
  background-color: transparent;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 400;
  font-size: 14px;
  line-height: 17.85px;

  @media (max-width: 48em) {
    height: 42px;
    width: 100%;
  }
}

.link2 {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border-top: 1px solid #0000001A;
  display: flex;
  gap: 8px;
  padding-top: 20px;

  @media (max-width: 48em) {
    height: 42px;
    width: 100%;
  }
}

.dashboardLink {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-top: 1px solid #0000001A;
  display: flex;
  gap: 8px;
  padding-top: 20px;

  @media (max-width: 48em) {
    height: 42px;
    width: 100%;
  }
}

.button {
  border: 1px solid #1e1e1e !important;
  border-bottom: 3px solid #1e1e1e !important;
  padding: 0 35px !important;
  height: 44px !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 17.85px !important;
}

.simpleButton {
  border: 1px solid #1e1e1e !important;
  padding: 0 35px !important;
  height: 44px !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 17.85px !important;
}

.card {
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.75);
}

.cardSM {
  box-shadow: -3px 3px 0px rgba(0, 0, 0, 0.75);
}

/* "h-full flex gap-[10px]" */
.loginSignup{
  display: flex;
  gap: 10px;
  height: 100%;
} 

@media screen and (max-width: 768px) {
  .loginSignup{
    display: none !important;
  } 
}

@media screen and (max-width: 1090px) {
  .login{
    display: none !important;
  } 
}

.linksBox{
  display: flex;
  padding: 14px 40px;
  background: #ffffff;
  gap: 40px;
  height: 100%;
  border: 0.5px solid #000000;
  border-bottom: 2px solid #000000;
  border-radius: 26px;
} 



@media screen and (max-width: 867px) {
  .linksBox{
    padding: 14px 20px;
    background: #ffffff;
    gap: 20px;
  } 
}

@media screen and (max-width: 768px) {
  .linksBox{
    display: none;
  } 
}


.fullButton {
  border: 1px solid #1e1e1e !important;
  border-bottom: 3px solid #1e1e1e !important;
  padding: 0 35px !important;
  height: 44px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 17.85px !important;
}