.button {
    display: flex;
    border-bottom: 3px solid #1E1E1E !important;
    padding: 10px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 17.85px !important;
    border: 1px solid #28231A !important;
    background-color: #FDF6EA;
    gap: 6px !important;
    box-shadow: -2px 4px 0px 0px #28231A;
  }
  
  .button span span {
    display: flex;
    gap: 6px !important;
  }

  .input{
    border: 1px solid #D4D4D8 !important;
    padding: 17px 15px !important;
    border-radius: 6px;
    width: 100%;
    height: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.4px;
  }

  .buttonAdd{
    display: flex;
    gap: 3px;
    color: #000000 !important;
    border: 1px solid #000000;
    background: #ffffff;
    border-radius: 50px;
    padding: 12px 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.4px;
    width: 78px !important;
  }

  .buttonAdd button{
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
  }
