@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
}

main {
  width: 100%;
  background: #fdf6ea;
}

input {
  border: 1px solid #000;
  border-radius: 35px;
  height: 100%;
  padding-left: 40px; /* Adjust padding to fit the left icon */
  padding-right: 40px; /* Adjust padding to fit the right icon */
  outline: none;
}

input:focus {
  outline: none;
}
 

 
.overflow-scroll::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for WebKit (Safari, Chrome, etc.) */
}

.top-rated-bg{
  background-image: url(/assets/top-rated-bg.svg);
}